/* Theme base styles */

/* Tools
Any animations, or functions used throughout the project.
Note: _macros.css needs to be imported into each stylesheet where macros are used and not included here
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

html, body {
    height: 100%;
    font-family: "Roboto", serif;
    font-size:18px;
    color:#4e4e4e;
    line-height: 1.4;
}

img {
    max-width: 100%;
    height: auto;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    color:#009274;
}
a:hover{
    color:#1A2541;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1,h2,h3,h4,h5,h6{
    color:#1A2541;
    font-family: "Lato", sans-serif;
    line-height: 1.3;
}
h1{
    font-size: 42px;
}
h2{
    font-size: 34px;
}
h3{
    font-size:26px;
}
h4{
    font-size:24px;
}
.container{
    width:100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 15px;
}
.navbar {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0px 5% 0px 5%;
    background-color: white;
    box-shadow: 0 0px 2px rgba(0,0,0,0.1);
    padding-bottom: 14px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

 

.nav-links {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: end;
}

.nav-item {
    text-decoration: none;
    color: #002e73;
    font-size: 14px;
    padding: 4px 10px;
    transition: 0.4s;
}

.nav-item:hover {
    color: #333;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.action-buttons {
    display: flex;
    gap: 18px;
    justify-content: end;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 18px;
}

.nav-btn {
    padding: 4px 16px;
    border-radius: 44px;
    font-size: 13px;
    text-decoration: none;
    transition: 0.4s;
}

.btn-trial {
    background-color: #a9eb20;
    color: #1a2541;
    margin-left: -8px;
}

.btn-enroll {
    background-color: #1a2541;
    color: white;
    margin-left: -16px;
}
 a.nav-item.conactus {
    /* color: #e75741 !important; */!i;!;
}

a.nav-item:hover {
    color: #009274;
}

.nav-right {
    height: 100%;
}

img.logo {
    width: 100%;
    max-width: 275px;
    margin-top: 15px;
}

.nav-links .nav-item {
    font-size: 15px;
    font-family: "Open Sans", serif;
    display: flex;
    align-items: center;
    gap: 10px;
}
span.sub-arrow svg {
    width: 15px;
    height: 15px;
    fill: #002e73;
    transition: 0.4s;
}
.nav-links .nav-item:hover svg {
    fill: #009274;
}
span.sub-arrow {
    align-items: center;
    display: flex;
}
.btn-trial:hover {
    background: #bffb44;
}

.btn-enroll:hover {
    background: #25345c;
}
ul.sub-menu {
    background: #1a171e;
    position: absolute;
    min-width: 222px;
    top: 32px;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s;
}

ul.sub-menu li a {
    color: #fff;
    font-family: 'Roboto';
    font-size: 13px;
    padding: 13px 20px;
    display: block;
    white-space: nowrap;
    transition: 0.4s;
}

ul.sub-menu li a:hover {
    background: #63708c;
}

li.dropdown:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    top: 28px;
}

/* menu toggle  */
.menu-toggle {
    width: 34px;
    height: 34px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    display: none;
    background:rgba(0,0,0,.05);
    border-radius: 4px;
}

.menu-toggle:focus {
    outline: none;
}

.menu-toggle span {
    display: block;
    width: 22px;
    height: 3px;
    background: #33373d;
    border-radius: 2px;
    position: absolute;
    left: 6px;
    transition: all 0.3s ease;
    border-radius: 18px;
}

/* Three lines for the hamburger icon */
.menu-toggle span:nth-child(1) {
    top: 8px;
}

.menu-toggle span:nth-child(2) {
    top: 15px;
}

.menu-toggle span:nth-child(3) {
    top: 22px;
}

/* Animation for the active state (X icon) */
.menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 16px;
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 16px;
}

/* new page  */
header {
    background: #fff;
    border-bottom: 1px solid #8080801a;
    padding-top: 8px;
}
.header-bg {
    background-size: cover;
    background-position: center center;
    min-height: 500px;
    display: flex;
    align-items: center;
}
.logo img {
    max-width: 240px;
}
.header-area {
    margin: 0 auto;
    color: #fff;
}
.header-content h5 {
    font-size: 50px;
}
.header-content {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
.header-content h1 {
    padding-bottom: 10px;
    color: #fff;
    font-weight: 800;
}
.header-content p {
    margin: 0 auto;
    font-size: 22px;
    color: #fff;
}

/* CTA area  */
.cta-area {
    background: #00927438;
    padding: 70px 0;
    text-align: center
}

.question-wrap {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20px
}

.q-icon img {
    margin-top: 5px;
    width: 20px
}

.single-question {
    align-items: center;
    background: #fff;
    border-radius: 8px;
    display: flex;
    gap: 16px;
    padding: 24px;
    text-align: left
}

.q-icon i {
    font-size: 20px
}

.single-question p {
    line-height: 1.3
}

.cta-wapper {
    margin: 0 auto
}

.cta-wapper h2 {
    padding-bottom: 12px
}

.cta-wapper a {
    color: #009274
}

.cta-wapper a:hover {
    color: #000
}



.certified-area {
    border-bottom: 1px solid #80808033;
    padding: 70px 0;
    text-align: center
}

.certified-wrapper {
    align-items: center;
    display: flex;
    gap: 80px;
    justify-content: center;
    padding-top: 35px
}

.certified-item img {
    max-height: 125px
}

.certified-item:last-child img {
    max-height: 90px
}
.certification-logo {
    height: 66px;
}

/* CTA area  */
.cta-area {
    background: #00927438;
    padding: 70px 0;
    text-align: center
}

.question-wrap {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20px
}

.q-icon img {
    margin-top: 5px;
    width: 20px
}

.single-question {
    align-items: center;
    background: #fff;
    border-radius: 8px;
    display: flex;
    gap: 16px;
    padding: 24px;
    text-align: left
}

.q-icon i {
    font-size: 20px
}
 

.cta-wapper {
    margin: 0 auto
}

.cta-wapper h2 {
    padding-bottom: 12px
}

.cta-wapper a {
    color: #009274
}

.cta-wapper a:hover {
    color: #000
}




/* footer  */
.footer {
 padding: 40px 0px;
}

.footer-logo {
    max-width: 300px;
    margin-bottom: 10px;
}

.footer-description {
    color: #666;
    margin-bottom: 20px;
    max-width: 400px;
    line-height: 1.5;
}

.footer-description .highlight {
    color: #009274;
}

.footer-content {
    display: grid;
    grid-template-columns: 24% 38% 13% 18%;
    gap: 30px;
    margin-bottom: 30px;
}
.two-column-content {
    display: flex;
    gap: 50px;
}
.footer-section h3 {
    color: #63708c;
    margin-bottom: 22px;
    font-size: 20px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 14px;
}

.footer-section ul li a {
    color: #63708c;
    text-decoration: none;
    font-size: 18px;
}

.footer-section ul li a:hover {
    color: #333;
}

.social-icons {
    display: flex;
    gap: 6px;
    margin-bottom: 20px;
}

.social-icon {
    width: 44px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.facebook { background-color: #3b5998; }
.instagram { background-color: #833AB4; }
.twitter { background-color: #000000; }
.linkedin { background-color: #0077b5; }
.pinterest { background-color: #bd081c; }
.tiktok { background-color: #69727d; }

.footer-bottom {
    border-top: 1px solid #eee;
    padding-top: 20px;
    font-size: 12px;
    color: #666;
}

.footer-links {
    display: flex;
    gap: 4px;
    margin-bottom: 10px;
}

.footer-links a {
    color: #009274;
    text-decoration: none;
    font-size: 12px;
}

.footer-address {
    margin-bottom: 10px;
}
.column-item2 {
    padding-top: 48px;
}
.footer-certifications {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    margin-top: -40px;
}

.certification-logo {
    height: 66px;
}
.actions {
    margin-top: 0px;
}

.actions .hs-button {
    background: #009274 !important;
    border-color: #009274!important;
}

.actions .hs-button:hover {
    opacity: 0.8;
    background: #009274 !important;
    border-color: #009274 !important;
}


@media (max-width:1440px) {
    .container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 5%;
    }
 
}
 
@media (min-width:992px) and (max-width:1260px) {
    .footer-section ul li a {
        font-size: 15px;
    }
    
    .footer-logo {
        max-width: 186px;
    }
    
    .footer-section h3 {
        font-size: 16px;
    }
    
    .footer-content {
        gap: 16px;
        grid-template-columns: 22% 40% 16% 22%;
    }
    
    .two-column-content {
        gap: 10px;
    }
    
    .social-icon {
        width: 32px;
        height: 32px;
    }
    
    .social-icon svg {
        width: 15px;
    }
    .nav-links {
  
        gap: 5px 15px;
        
    }
}
@media (max-width:991px) {
  .footer-content {
    text-align: center;
}
  .footer-description {
    margin: 0 auto;
    margin-bottom: 20px;
}
  .social-icons {
    justify-content: center;
}
  .footer-address {
    text-align: center;
}
  .footer-links {
    justify-content: center;
}
    .form-info {
        padding-right: 0;
    }
 
    span.sub-arrow {
        display: none;
    }
    
    ul.sub-menu {
        display: none;
    }
    span.sub-arrow {
        display: none;
    }
    
    ul.sub-menu {
        display: none;
    }
    
    .action-buttons {
        flex-direction: column;
        background: #3f3f3f;
        width: 180px;
        text-align: left;
        align-items: start;
        gap: 0px;
        padding: 0;
        padding-bottom: 15px;
        display: none;
    }
    
    .action-buttons .nav-item {
        color: #fff !important;!i;!;
        padding: 10px 20px;
        display: block;
        width: 100%;
        font-size: 13px;
    }
    
    a.nav-item.conactus {
        color: #fff !important;!i;!;
    }
    
    .btn-trial {
        margin: 0;
        margin-left: 20px;
        margin-top: 10px;
    }
    
    .btn-enroll {
        margin: 0;
        margin-left: 20px;
        margin-top: 12px;
    }
    
    .nav-btn {
        width: 100%;
        max-width: 120px;
    }

    ul.nav-links {
        background: #3f3f3f;
        flex-direction: column;
        align-items: start;
        gap: 0;
        display: none;
    }
    
    ul.nav-links a {
        color: #fff;
        text-align: left;
    }
    
    .nav-links .nav-item {
        padding: 10px 20px;
    }
    
    ul.nav-links li {
        width: 100%;
        display: block;
    }

    .menu-toggle {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    
    nav.navbar {
        align-items: center;
        padding-top:10px;
        padding-bottom:10px;
        justify-content: start;
        gap: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    img.logo {
        margin-top: 0px;
    }
    img.logo {
   
        max-width: 190px;
  
    }
    .bottom-nav {
        margin-top: 10px;
    }
    .action-buttons.active {
    display: flex;
    margin-top: 10px;
}
.nav-right {
    
    width: 250px;
}
ul.nav-links.active {
    display: flex;
    margin-top:10px;
}
 
 
.footer-content {
    grid-template-columns: auto;
}

.footer {
    padding: 40px 0px;
}

.two-column-content {
    flex-direction: column;
    gap: 0px;
}

.column-item2 {
    padding-top: 0px;
}

.footer-links {
    flex-wrap: wrap;
}

.footer-certifications {
    margin: 0;
    flex-direction: column;
    padding-top: 20px;
}
 
}

@media (max-width:767px) {
 .header-bg {
    min-height: auto;
    padding: 80px 0px;
}

.header-content p {
    font-size: 20px;
}
   
    .header-area {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 40px;
    }
    .header-content h5 {
        font-size: 32px;
    }
 .footer-description {
     
    margin: 0 auto;
    margin-bottom: 20px;
  
}
 
 
    h1 {
        font-size: 32px;
        line-height: 1.2;
    }
     
    body {
        font-size: 16px;
    }
 
 
    h2 {
        font-size: 26px;
    }
 
  .social-icons {
    justify-content: center;
}

.footer-address {
    text-align: center;
}

.footer-links {
    justify-content: center;
}
  .footer-content {
     
    text-align: center;
}
  .footer-description br {
    display: none;
}
  
      .certified-area {
        padding: 50px 0
    }
.certified-wrapper {
    flex-direction: column;
    gap: 40px;
}
  
      .cta-area {
        padding: 50px 0
    }
 .question-wrap {
    grid-template-columns: 1fr;
}
}

@media (max-width:450px) {
    nav.navbar {
        padding-left: 15px;
        padding-right: 15px;
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .action-buttons {
        width: 150px;
    }
    
    ul.nav-links {
        width: 150px;
    }
 
  .social-icon {
    width: 36px;
    height: 36px;
   
}
  .footer-logo {
    max-width: 230px;
    width: 100%;
}
  .logo img {
    max-width: 200px;
}
}