img.logo {
    width: 100%;
    max-width: 180px;
}


ul.sfNavHorizontalDropDown {
    display: flex;
    justify-content: end;
    gap: 0px;
    align-items: center;
}

ul.sfNavHorizontalDropDown li a {
    font-size: 17px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    position: relative;
    padding: 0px !important;
    padding-top: 0px !important;
    line-height: 17px !important;
}

.sf_cols.navbarwrap {
    padding: 24px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
 
}
.sf_cols.navbarwrap:after {
    display: none;
}

.sf_cols.navbarwrap:before {
    display: none;
}
ul.sfNavHorizontalDropDown li:last-child a {
    background: #00a594;
    padding: 10px 40px !important;
    border: 2px solid #00a594;
    transition: 0.4s;
    margin-right: 0 !important;
    font-size: 17px !important;
    color: #fff !important;
    padding-top: 14px !important;
}



ul.sfNavHorizontalDropDown li:last-child a:hover {
    background: transparent;
     color:#00a594 !important;
    text-decoration: none;
    
}

ul.sfNavHorizontalDropDown li:last-child a:hover:after {
    display: none;
    
}

ul.sfNavHorizontalDropDown li a:hover:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #0485b2;
    content: "";
    bottom: -8px;
}
ul.sfNavHorizontalDropDown > li {
    border-width: 0px !important;
    box-sizing: border-box !important;
    display: block;
    width: 100%;
    float: none !important;
    margin: 00px 17px;
    padding: 17px 0px;
}
ul.sfNavHorizontalDropDown li:last-child {
    margin: 0px 0px 0px 20px;
    padding:0px;
}
.sfNavWrp.sfNavHorizontalDropDownWrp {
    display: flex;
    justify-content: end;
}



ul.sfNavHorizontalDropDown li:hover ul.k-group {
    display: block;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-width: 0px;
    padding: 8px 15px;
    border-top: 2px solid #0485b2!important;
    z-index: 99991;
    min-width: 140px;
    left: 0;
    top: 100%;
    box-sizing: border-box;
}
ul.sfNavHorizontalDropDown li ul.k-group li {
    padding: 0px;
}
ul.sfNavHorizontalDropDown li ul.k-group li:last-child a {
    background: transparent !important;
    border-width: 0px;
    padding: 0px!important;
    font-size: 17px !important;
    color: #000000 !important;
}
ul.sfNavHorizontalDropDown li ul.k-group li:last-child a:hover {
color:#4b9cd3 !important
}

ul.sfNavHorizontalDropDown li:hover ul.k-group li a {
    padding: 8px 0px !important;
}
ul.sfNavHorizontalDropDown li:hover ul.k-group li a:after {
    display: none;
}

ul.sfNavHorizontalDropDown li:hover ul.k-group li a:hover {
    color: #00a594 !important;
}
ul.sfNavHorizontalDropDown li ul.k-group li:last-child {
    margin: 0px;
}

/* footer  */
.footer-section {
    background: #4d4d4d;
    padding-top: 60px;
    padding-bottom: 50px;
}
.sf_cols.copyright-section {
    background: #4d4d4d;
    padding-bottom: 60px;
}
.footer-section .sf_colsIn.container .sf_colsOut:nth-child(2) {
    width: 18%;
}

.footer-section .sf_colsIn.container .sf_colsOut:nth-child(3) {
    width: 32%;
}
img.footer-logo {
    width: 100%;
    max-width: 180px;
}

.footer-list-items h4 {
    color: #fff;
}

.footer-list-items ul li a {
    color: #fff;
    font-size: 16px;
}

.footer-list-items ul li {
    margin-bottom: 16px;
}
img.facebook-icon {
    max-width: 32px;
}
.footer-list-items h4 {
    font-size: 20px;
    display: inline-block;
    border-bottom: 2px solid #7f7f7f;
    padding-right: 24px;
    padding-bottom: 8px;
    margin-bottom: 24px;
    font-weight: 300;
}

.footer-list-items ul li a:hover {
    color: #00a594;
}

.privacy-links p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 12px;
}

.copyright p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 0;
}

.privacy-links p a {
    color: #fff;
}

.privacy-links p a:hover {
    color: #00a594;
}

.footer-list-items {
    padding-bottom: 24px;
}
.sf_cols.copyright-area {
    padding-top: 8px;
}
/* footer end  */

/* responsive  */
 
   
   @media (max-width:991px){
     .mobile-login-wrap {
       display: block;
       background: #efd283;
   
   }
 
     ul.custom-navigation {
       flex-direction: column;
       padding: 24px 0px;
   }
   .navbar {
    border-bottom: 1px solid #eee;
     position:relative;
}
 
   
   ul.custom-navigation li {
       padding: 0px;
           text-align: center;
   }
   
  
   
   span.down-arrow {
       position: absolute;
       right: -50px;
       top: -2px;
       width: 30px;
       height: 30px;
       display: flex;
       align-items: center;
       justify-content: center;
   }
     ul.custom-dropdown-menu {
       position: unset;
       list-style: none;
       padding: 0;
       border-width: 0px;
       box-shadow: none;
       display:none;
   }
   ul.custom-dropdown-menu.active {
       opacity: 1;
       visibility: visible;
       display: block;
   }
   ul.custom-navigation ul.custom-dropdown-menu li a {
       padding: 0px 8px !important;
   }
     ul.sfNavHorizontalDropDown li div.k-animation-container {
       position: unset !important;
       margin: 0 auto!important;
   }
     ul.sfNavHorizontalDropDown li.active-drop-menu div.k-animation-container {
       position: unset !important;
       box-sizing: border-box !important;
       width: auto !important;
       height: auto !important;
   }
     .sfNavHorizontalDropDownWrp .k-popup {
       background-color: #fff;
       display: none !important;
   }
   ul.sfNavHorizontalDropDown li:hover div.k-animation-container {
       display: none !important;
   }
     ul.sfNavHorizontalDropDown li.active-drop-menu:hover div.k-animation-container {
       display: block !important;
   }
     ul.sfNavHorizontalDropDown li.active-drop-menu div.k-animation-container ul {
       display: block !important;
       position: static !important;
           border-width: 0px !important;
   }
   
    
   
   ul.sfNavHorizontalDropDown li.active-drop-menu div.k-animation-container {
       position: unset !important;
       box-sizing: border-box !important;
       width: auto !important;
       height: auto !important;
   }
   ul.sfNavHorizontalDropDown li div.k-animation-container ul {
       border-width: 0px;
   }
   ul.sfNavHorizontalDropDown li:hover ul.k-group {
       display: none;
       border-width: 0px;
       position: static;
       box-shadow: none;
       padding: 0px;
   }
   span.k-menu-expand-arrow.k-icon {
       position: absolute;
       right: -100px;
       width: 107px;
       height: 26px;
       top: 11px;
       z-index: 9999;
           
   }
   .footer-section .sf_colsIn.container .sf_colsOut .sf_colsIn {
    margin-left: 0;
}
    
   .sfNavWrp.sfNavHorizontalDropDownWrp {
      
       justify-content: center;
       padding-bottom: 22px;
   }
   ul.sfNavHorizontalDropDown li:last-child {
    margin-left: 0;
    margin-top: 10px;
}
   ul.sfNavHorizontalDropDown li {
    margin: 0px;
    padding: 12px 0px;
}

ul.sfNavHorizontalDropDown li a {
    margin: 0px !important;
    padding-top:0px !important;
}
    .navbarwrap .sf_3cols_3_33 {
       position: absolute;
       width: 100% !important;
       top: 80px;
       background: #fff;
       border-top: 1px solid #e2e2e2;
       padding-top: 10px;
       height: 0px;
       transition: 0.3s;
       overflow: hidden;
       opacity: 0;
       left:0px;
   }
   div#PublicWrapper {
       position: relative;
   }
   .sf_cols.navbarwrap {
         
       padding: 24px 0px;
   }
   .navbarwrap .sf_colsIn {
       margin: 0px;
   }
   ul.sfNavHorizontalDropDown {
       flex-direction: column;
       text-align: center;
   }
   
   img.logo {
    width: 132px;
}
   
   .navbarwrap .sf_colsOut.sf_3cols_2_34 {
       width: 100% !important;
       display: flex;
       justify-content: end;
   }
   
   div#humberg span {
       height: 4px;
       background: #00a594;
       display: block;
       border-radius: 8px;
       margin-bottom:5px;
   }
   
   div#humberg {
       width: 32px;
       display: flex;
       flex-direction: column;
       
   }
   
   ul.sfNavHorizontalDropDown li:last-child a {
       margin-top: 4px;
       display: inline-block;
   }
     .navbarwrap .sf_colsOut.sf_3cols_3_33.active {
       overflow: visible !important;
       opacity: 1;
       height: auto;
       z-index:99991;
   }
  
   /* footer  */
   .footer-section .sf_colsIn.container .sf_colsOut {
    width: 100% !important;
}

.footer-section .sf_colsIn.container .sf_colsOut:nth-child(1) {
    padding-bottom: 32px;
}

.sf_cols.copyright-area p {
    font-size: 14px;
    margin-bottom: 16px;
}

.privacy-links {
    margin-top: 8px;
}

.footer-section {
    padding-bottom: 12px;
    padding-top: 50px;
}
   /* footer end */

   

   }
   
   @media (max-width: 500px){
   .navbarwrap .sf_3cols_3_33 {
      
       top: 78px;
   }}
   
.zip-and-promo-form .RadInput {
    width: auto;
    line-height: inherit;
    display: block;
}

.zip-and-promo-form  .RadInput .riTextBox {
    padding: 10px 12px;
    font-size: 15px;
    font-weight: 500;
}

*[class^=evidon] a {
    color: #B72E39;
}
*[class^=evidon] .slideron {
    background-color: #B72E39;
}