@import url('https://use.typekit.net/aat1bow.css');
body{

font-family: Arial, sans-serif;
font-weight: 500;

}

h1,h2,h3,h4,h5,h6{
font-family: "breakers-slab",sans-serif;;
  font-weight: 600;
}
  a{
    font-family: "urw-din",sans-serif;
  }
img.logo-image {
    width: 100%;
    max-width: 184px;
}

ul.sfNavHorizontalDropDown {
    display: flex;
    justify-content: end;
    gap: 0px;
}

ul.sfNavHorizontalDropDown li a {
    font-size: 17px !important;
    color: #372822 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 8px !important;
  font-family: "urw-din",sans-serif;
    font-weight: 600;
}

.sf_cols.navbarwrap {
    display: flex;
    align-items: center;
    padding: 24px 0px;
  justify-content: space-between;
}
ul.sfNavHorizontalDropDown li:last-child a {
    background: #9E3223;
    padding: 7px 23px !important;
     
    border: 2px solid #9E3223;
    transition: 0.4s;
    margin-right: 0;
    font-size: 17px !important;
    color: #fff !important;
    font-family: "urw-din",sans-serif;
    font-weight: 700;
}
ul.sfNavHorizontalDropDown li:nth-last-child(2) {
    margin-left: 16px;
}
ul.sfNavHorizontalDropDown li:nth-last-child(2) a {
    background: #EFD283;
    padding: 7px 41px !important;
    
    border: 2px solid #EFD283;
    transition: 0.4s;
    margin-right: 0;
    font-size: 17px !important;
    color: #372822 !important;
    font-family: "urw-din",sans-serif;
    font-weight: 700;
}
ul.sfNavHorizontalDropDown li:nth-last-child(2) a:hover {
  background: transparent;
  
}

ul.sfNavHorizontalDropDown li:last-child a:hover {
    background: transparent;
     color:#E75525 !important;
    text-decoration: none;
    
}

ul.sfNavHorizontalDropDown li a:hover {
    text-decoration: none;
    color: #E75525 !important;
}
ul.sfNavHorizontalDropDown li {
    border-width: 0px !important;
    box-sizing: border-box !important;
    display: block;
    width: 100%;
    float: none !important;
}

.sfNavWrp.sfNavHorizontalDropDownWrp {
    display: flex;
    justify-content: end;
}

ul.sfNavHorizontalDropDown li:last-child {
    margin-left: 15px;
}

ul.sfNavHorizontalDropDown li:hover ul.k-group {
    display: block;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-width: 0px;
    padding: 12px 8px;
    /* padding-top: 0px; */
    border-top: 2px solid #4b9cd3 !important;
      z-index: 99;
}

ul.sfNavHorizontalDropDown li ul.k-group li:last-child a {
    background: transparent !important;
    border-width:0px;
    padding:0px!important;
      font-family: urbane-condensed, sans-serif;
    font-weight: 500;
  font-size:17px !important;
}
ul.sfNavHorizontalDropDown li ul.k-group li:last-child a:hover {
color:#4b9cd3 !important
}

ul.sfNavHorizontalDropDown li:hover ul.k-group li a {
    padding: 8px 8px !important;
}

ul.sfNavHorizontalDropDown li ul.k-group li:last-child {
    margin: 0px;
}
 
@media (min-width:992px) and (max-width:1199px){
  
 ul.sfNavHorizontalDropDown {
        gap: 16px;
} 

}

@media (max-width:991px){
  ul.sfNavHorizontalDropDown li div.k-animation-container {
    position: unset !important;
    margin: 0 auto!important;
}
  ul.sfNavHorizontalDropDown li.active-drop-menu div.k-animation-container {
    position: unset !important;
    box-sizing: border-box !important;
    width: auto !important;
    height: auto !important;
}
  .sfNavHorizontalDropDownWrp .k-popup {
    background-color: #fff;
    display: none !important;
}
ul.sfNavHorizontalDropDown li:hover div.k-animation-container {
    display: none !important;
}
  ul.sfNavHorizontalDropDown li.active-drop-menu:hover div.k-animation-container {
    display: block !important;
}
  ul.sfNavHorizontalDropDown li.active-drop-menu div.k-animation-container ul {
    display: block !important;
    position: static !important;
        border-width: 0px !important;
}

 

ul.sfNavHorizontalDropDown li.active-drop-menu div.k-animation-container {
    position: unset !important;
    box-sizing: border-box !important;
    width: auto !important;
    height: auto !important;
}
ul.sfNavHorizontalDropDown li div.k-animation-container ul {
    border-width: 0px;
}
ul.sfNavHorizontalDropDown li:hover ul.k-group {
    display: none;
    border-width: 0px;
    position: static;
    box-shadow: none;
    padding: 0px;
}
span.k-menu-expand-arrow.k-icon {
    position: absolute;
    right: -100px;
    width: 107px;
    height: 26px;
    top: 11px;
    z-index: 9999;
        
}

 
.sfNavWrp.sfNavHorizontalDropDownWrp {
   
    justify-content: center;
    padding-bottom: 22px;
}
  ul.sfNavHorizontalDropDown li:last-child {
    margin-left: 0;
    margin-top: 8px;
}
ul.sfNavHorizontalDropDown li:last-child a {
  
    margin-right: 0px;
}
 .navbarwrap .sf_3cols_3_33 {
    position: absolute;
    width: 100% !important;
    top: 98px;
    background: #fff;
    border-top: 1px solid #e2e2e2;
    padding-top: 10px;
    height: 0px;
    transition: 0.3s;
    overflow: hidden;
    opacity: 0;
    left:0px;
}
div#PublicWrapper {
    position: relative;
}
.sf_cols.navbarwrap {
      
    padding: 24px 0px;
}
.navbarwrap .sf_colsIn {
    margin: 0px;
}
ul.sfNavHorizontalDropDown {
    flex-direction: column;
    text-align: center;
}

img.logo-image {
    max-width: 160px;
}

.navbarwrap .sf_colsOut.sf_3cols_2_34 {
    width: 100% !important;
    display: flex;
    justify-content: end;
}

div#humberg span {
    height: 3px;
    background: #4B9CD3;
    display: block;
}

div#humberg {
    width: 32px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

ul.sfNavHorizontalDropDown li:last-child a {
    margin-top: 4px;
    display: inline-block;
}
  .navbarwrap .sf_colsOut.sf_3cols_3_33.active {
    overflow: visible !important;
    opacity: 1;
    height: auto;
    z-index:999;
}
.sf_cols.footer-wrap .sf_colsOut {
    width: 100%;
}
 
}

@media (max-width: 500px){
.navbarwrap .sf_3cols_3_33 {
   
    top: 82px;
}}