@import url('https://use.typekit.net/swx3rad.css');
body{

font-family: urbane-condensed, sans-serif;
font-weight: 500;

}

h1,h2,h3,h4,h5,h6{
font-family: "urbane",sans-serif;
  font-weight: 600;
}

img.logo-image {
    width: 100%;
    max-width: 90px;
}

ul.sfNavHorizontalDropDown {
    display: flex;
    justify-content: end;
    gap: 0px;
}

ul.sfNavHorizontalDropDown li a {
    font-size: 17px !important;
    color: #11294c !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 12px !important;
}

.sf_cols.navbarwrap {
    display: flex;
    align-items: center;
    padding: 24px 0px;
  justify-content: space-between;
}
ul.sfNavHorizontalDropDown li:last-child a {
    background: #EDC817;
    padding: 11px 32px !important;
    border-radius: 5px;
    border: 2px solid #EDC817;
    transition: 0.4s;
    margin-right: 0;
    font-family: 'urbane',sans-serif;
    font-weight: 600;
    font-size: 16px !important;
    color: #11294B;
}

ul.sfNavHorizontalDropDown li:last-child a:hover {
    background: transparent;
     color:#11294B;
    text-decoration: none!important;
    
}

ul.sfNavHorizontalDropDown li a:hover {
    text-decoration: none!important;
    color: #4b9cd3;
}
ul.sfNavHorizontalDropDown li {
    border-width: 0px !important;
    box-sizing: border-box !important;
    display: block;
    width: 100%;
    float: none !important;
}

.sfNavWrp.sfNavHorizontalDropDownWrp {
    display: flex;
    justify-content: end;
}

ul.sfNavHorizontalDropDown li:last-child {
    margin-left: 15px;
}
.sf_cols.footer-wrap {
    background: #12294B;
    padding: 50px 0px;
}

.footer-wrap img {
    width: 100%;
    max-width: 120px;
}

.footer-item h4 {
    font-size: 18px;
    color: #fff;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 16px;
}

.footer-item ul {
    padding: 0px;
    list-style: none;
}

.footer-item ul li a {
    font-size: 15px;
    color: #fff;
    margin-top: 8px;
    display: inline-block;
      font-weight: 300;
}

.footer-item ul li a:hover {
    color: #4b9cd3;
    text-decoration: none!important;
}
div#T9B0A1F6B024_Col00 {
    flex-direction: column;
    display: flex;
}
.footer-item h4:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 44%;
    height: 1px;
    background: #fff;
}

.copyright ul {
    display: flex;
    align-items: ;
    list-style: none;
    gap: 6px;
    flex-wrap: wrap;
    padding: 0;
}

.copyright ul li a {
    color: #fff;
    font-size: 14px;
      font-weight: 300;
}

.copyright ul li {
    color: #fff;
    font-size: 14px;
      font-weight: 300;
}

.copyright p {
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
      font-weight: 300;
}

.copyright {
    padding-top: 48px;
}

.copyright ul li a:hover {
    color: #4b9cd3;
    text-decoration: none!important;
}
@media (min-width:992px) and (max-width:1199px){
  
 ul.sfNavHorizontalDropDown {
        gap: 16px;
} 
}

@media (max-width:991px){

ul.sfNavHorizontalDropDown li:last-child a {
  
    margin-right: 0px;
}
 .navbarwrap .sf_3cols_3_33 {
    position: absolute;
    width: 100% !important;
    top: 98px;
    background: #fff;
    border-top: 1px solid #e2e2e2;
    padding-top: 10px;
    height: 0px;
    transition: 0.3s;
    overflow: hidden;
    opacity: 0;
    left:0px;
}
div#PublicWrapper {
    position: relative;
}
.sf_cols.navbarwrap {
      
    padding: 24px 0px;
}
.navbarwrap .sf_colsIn {
    margin: 0px;
}
ul.sfNavHorizontalDropDown {
    flex-direction: column;
    text-align: center;
}

img.logo-image {
    max-width: 70px;
}

.navbarwrap .sf_colsOut.sf_3cols_2_34 {
    width: 100% !important;
    display: flex;
    justify-content: end;
}

div#humberg span {
    height: 3px;
    background: #4B9CD3;
    display: block;
}

div#humberg {
    width: 32px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

ul.sfNavHorizontalDropDown li:last-child a {
    margin-top: 4px;
    display: inline-block;
}
  .navbarwrap .sf_colsOut.sf_3cols_3_33.active {
    overflow: visible !important;
    opacity: 1;
    height: auto;
    z-index:999;
}
.sf_cols.footer-wrap .sf_colsOut {
    width: 100%;
}

 

.footer-item {
    margin-left: -12px;
    padding-top: 32px;
}

.footer-item h4:after {
    width: 100px;
}
}